input[type=text], select{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

p{
    margin: 0;
}

ul {
    list-style: none;
}

.owner {
    padding: 0;
    margin: 15px 0;
}

.owner li {
    width: 100%;
    position: relative;
    padding: 10px 100px 10px 15px;
    border-bottom: 1px solid #414141;
}

.owner li.no-empty {
    cursor: pointer;
}

.owner li[level="1"] {
    background: #eee;
}

.owner li[level="2"] {
    background: #bbb;
    padding: 10px;
}

.owner li a, .owner li .status {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
}

.owner li a.delete {
    right: 5px;
    background: red;
}

.owner li a.edit {
    right: 30px;
    background: green;
}

.owner li .status {
    right: 60px;
    width: 50px;
}

.owner li .status > .online {
    color: green;
}

.owner li .status > .offline {
    color: red;
}

.owner > li .fa {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    width: 15px;
    height: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 100%;
    text-align: center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 700;
    font-size: large;
}

.owner > li[aria-expanded=true] .fa {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

ul {
    list-style: none;
}

.owner {
    padding: 0;
    margin: 15px 0;
}

.owner li {
    position: relative;
    padding: 10px 100px 10px 15px;
    border-bottom: 1px solid #414141;
}

.owner li.no-empty {
    cursor: pointer;
}

.owner li[level="1"] {
    background: #eee;
}

.owner li[level="2"] {
    background: #bbb;
}

.owner li[level="3"] {
    background: #aaa;
}

.owner li a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
}

.owner li a.delete {
    right: 5px;
    background: red;
}

.owner li a.edit {
    right: 30px;
    background: green;
}

.owner li a.questions {
    right: 55px;
    background: orange;
}

.owner li .fa {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    width: 15px;
    height: 18px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 100%;
    text-align: center;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-weight: 700;
    font-size: large;
}

.owner li[aria-expanded=true] .fa {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}