{% extends 'AppBundle::base.html.twig' %}

{% block css %}
    {#<link rel="stylesheet" href="{{ asset('/bundles/app/jqwidgets/styles/jqx.base.css') }}">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if is_granted('ROLE_USER') %}
                <div class="col-md-12">
                    <div class="btn-group" role="group">

                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <h1 class="text-center text-danger">Для перегляду увійдіть у систему!!!</h1>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}

    <script>
        $(function () {



        })
    </script>
    {#{% endspaceless %}#}
{% endblock %}